{{ define "admin/item/index.html" }}
    {{ template "admin_default" . }}

    <div class="flex">

      <div class="">
        {{ template "sidebar" . }}
      </div>

      <div class="min-h-screen bg-gray-100 flex flex-wrap justify-center">
        {{range .data}}
          <div class="mx-4">
            <div class="w-64 pt-16">
              <div class="bg-white relative shadow-lg hover:shadow-xl transition duration-500 rounded-lg">
                {{range .ItemImages}}
                  <div class="relative bg-gray-200 rounded-t-lg">
                    <img class="object-contain h-48 w-full rounded-t-lg" src="{{.File_path}}" alt="" />
                  </div>
                {{end}}
                <div class="py-6 px-4 rounded-lg bg-white">
                  <h1 class="text-gray-700 font-bold text-2xl mb-3 hover:text-gray-900 hover:cursor-pointer">{{.Name}}</h1>
                  <p class="text-gray-700 tracking-wide">{{.Detail}}</p>

                  <a class="bg-transparent hover:bg-yellow-400 text-black-500 font-semibold hover:text-white py-2 px-4 border border-gray-800 hover:border-transparent rounded" href="/admin/item/detail/{{.ID}}">詳細</a>
                  <button class="bg-transparent hover:bg-yellow-400 text-black-500 font-semibold hover:text-white py-2 px-4 border border-gray-800 hover:border-transparent rounded">編集</button>
                </div>
                <div class="absolute top-2 right-2 py-2 px-4 bg-white rounded-lg">
                  <span class="text-md">¥{{.Special_price}}</span>
                </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
      
    </div>
  

{{ end }}