{{ define "admin/items/index.html" }}
    {{ template "admin_default" . }}
    {{ template "header" . }}

    <div class="flex">
      <div class="">
        {{ template "sidebar" . }}
      </div>

      <div class="min-h-screen flex flex-wrap justify-center">
        <table>
          <thead>
            <tr>
              <th>商品名</th>
              <th>通常価格</th>
              <th>特別価格</th>
              <th>在庫</th>
              <th>カテゴリー</th>
              <td></td>
              <td></td>
            </tr>
          </thead>

          <tbody>
            {{range .data}}

                <td>{{.Name}}</td>
                <td>{{.Normal_price}}</td>
                <td>{{.Special_price}}</td>
                <td>{{.Stock}}</td>
                <td>{{.Category.Name}}</td>
                <td></td>

                <td><a class="bg-transparent hover:bg-yellow-400 text-black-500 font-semibold hover:text-white py-2 px-4 border border-gray-800 hover:border-transparent rounded" href="/admin/items/detail/{{.ID}}">詳細</a></tr>
                <td><a class="bg-transparent hover:bg-yellow-400 text-black-500 font-semibold hover:text-white py-2 px-4 border border-gray-800 hover:border-transparent rounded" href="/admin/items/edit/{{.ID}}">編集</a></tr>

              </tr>
            {{end}}
          </tbody>
        </table>

{{ end }}