{{ define "admin/items/index.html" }}
    {{ template "admin_default" . }}
    
    <div class="">
      <div class="fixed top-0 bottom-0 left-0 mt-20 w-60">
        {{ template "sidebar" . }}
      </div>

      <div class="pl-60">
        <table class="table-auto">
          <thead>
            <tr>
              <th class="px-4 py-2">商品名</th>
              <th class="px-4 py-2">通常価格</th>
              <th class="px-4 py-2">特別価格</th>
              <th class="px-4 py-2">在庫</th>
              <th class="px-4 py-2">カテゴリー</th>
              <th class="px-4 py-2">公開：非公開</th>
              <td></td>
              <td></td>
            </tr>
          </thead>
          
          <tbody>
            {{range .items}}
            <tr>
                <td class="border px-4 py-2">{{.Name}}</td>
                <td class="border px-4 py-2">{{.Normal_price}}</td>
                <td class="border px-4 py-2">{{.Special_price}}</td>
                <td class="border px-4 py-2">{{.Stock}}</td>
                <td class="border px-4 py-2">{{.Category.Name}}</td>
                <td class="border px-4 py-2">{{.Display_flg}}</td>
                <td></td>

                <td class="border px-4 py-2"><a class="bg-transparent hover:bg-yellow-400 text-black-500 font-semibold hover:text-white py-2 px-4 border border-gray-800 hover:border-transparent rounded" href="/admin/items/detail/{{.ID}}">詳細</a></td>
                <td class="border px-4 py-2"><a class="bg-transparent hover:bg-yellow-400 text-black-500 font-semibold hover:text-white py-2 px-4 border border-gray-800 hover:border-transparent rounded" href="/admin/items/edit/{{.ID}}">編集</a></td>
              </tr>
            {{end}}
          </tbody>
        </table>
      </div>
        <!-- {{ template "footer" . }} -->
{{ end }}